name: Our CI

on: 
    pull_request:
    push:
    workflow_dispatch:

jobs:
    test:
        name: Run tests
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: Install Python
             uses: actions/setup_python@v5
             with:
                    python-version: "3.11"
            - run: python -m pip install .[test]
            - name: Run tests
            - run: python -m pytest


